@import url("https://fonts.googleapis.com/css2?family=Bungee&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Bakemono";
  src: url("../fonts/bakemono_regular.woff");
  font-weight: normal;
  font-style: normal;
}
.bungee-regular {
  font-family: "Bungee", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.Bakemono {
  font-family: "Bakemono", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  background: rgb(var(--color-dark-rgb));
  background-color: #1e1e1e;
  background-position: top center;
  background-repeat: no-repeat;
}

.gradient {
  background: linear-gradient(135deg, rgb(var(--color-purplesemidark-rgb)) 0%, rgb(var(--color-dark-rgb)) 36%, rgb(var(--color-primary-rgb)) 56%, rgb(var(--color-purpledark-rgb)) 100%);
  background-repeat: no-repeat;
}

.gradient-reverse {
  background: linear-gradient(135deg, rgb(var(--color-purpledark-rgb)) 0%, rgb(var(--color-primary-rgb)) 36%, rgb(var(--color-dark-rgb)) 56%, rgb(var(--color-purplesemidark-rgb)) 100%);
  background-repeat: no-repeat;
}

.text_shadow {
  text-shadow: 1px 1px 2px #000000;
}

.klaro {
  background-color: #f0f0f0;
  color: #333;
}
.klaro .cookie-modal {
  border-radius: 8px;
  padding: 20px;
}
.klaro .cookie-modal button {
  background-color: #007acc;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}
.klaro .cookie-modal button:hover {
  background-color: rgb(var(--color-purplelight-rgb)) !important;
  color: rgb(var(--color-purpledark-rgb)) !important;
}
.klaro .cookie-modal .cm-modal.cm-klaro {
  background: rgb(var(--color-purplesemidark-rgb));
}
.klaro .cookie-modal a {
  color: rgb(var(--color-purplelight-rgb)) !important;
}
.klaro .cookie-modal .cm-list-input:checked + .cm-list-label .slider {
  background: rgb(var(--color-purplelight-rgb)) !important;
}
.klaro .cookie-modal .cm-btn.cm-btn-info {
  background: rgb(var(--color-purplelight-rgb)) !important;
  color: rgb(var(--color-purpledark-rgb)) !important;
}
.klaro .cookie-modal .cm-modal .cm-footer .cm-powered-by {
  display: none;
}
.klaro .cookie-notice:not(.cookie-modal-notice) {
  background: rgb(var(--color-primary-rgb));
}
.klaro .cookie-notice a {
  color: rgb(var(--color-purplelight-rgb)) !important;
}
.klaro .cookie-notice .cm-btn.cm-btn-success {
  background: rgb(var(--color-purplelight-rgb)) !important;
  color: rgb(var(--color-purpledark-rgb)) !important;
}

@layer utilities {
  @media (min-width: 640px) { /* sm: */
    .slash:first-child:after {
      width: 73px;
      left: 359px;
      top: 73px;
    }
    .slash:first-child .title {
      margin-left: -160px;
      text-align: right;
      width: 510px;
    }
    .slash:first-child .copy {
      margin-left: 50px;
    }
    .slash:last-child:after {
      width: 73px;
      left: 612px;
      top: 26px;
    }
    .slash:last-child .title {
      margin-left: 30px;
    }
    .slash:last-child .copy {
      text-align: right;
      margin-left: 140px;
      width: 720px;
    }
    .slash:nth-child(2):after {
      left: 400px;
    }
    .slash:nth-child(2) .title {
      text-align: right;
      margin-left: -60px;
      width: 510px;
    }
    .slash:nth-child(2) .copy {
      margin-left: 50px;
    }
    .slash:nth-child(3):after {
      left: 500px;
    }
    .slash:nth-child(3) .title {
      margin-left: 40px;
    }
    .slash:nth-child(3) .copy {
      text-align: right;
      margin-left: -90px;
      width: 720px;
    }
    .slash:after {
      content: "";
      position: absolute;
      top: 50%;
      left: 100%;
      width: 145px;
      height: 2px;
      background-color: rgb(var(--color-purplesemilight-rgb));
      transform: rotate(45deg) rotate(45deg);
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
    }
    .slash:before {
      content: "";
      position: absolute;
      width: 16px;
      height: 16px;
      border-radius: 100%;
      background-color: rgb(var(--color-purplesemilight-rgb));
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
      -ms-border-radius: 100%;
      -o-border-radius: 100%;
    }
  }
  @media (min-width: 1024px) { /* lg: */ }
}
.pos_0:before {
  left: 363px;
}

.pos_1:before {
  left: 463px;
}

.pos_2:before {
  left: 563px;
}

.pos_3:before {
  left: 663px;
}/*# sourceMappingURL=global.css.map */