@import url("https://fonts.googleapis.com/css2?family=Bungee&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Bakemono";
  src: url("../fonts/bakemono_regular.woff");
  font-weight: normal;
  font-style: normal;
}
.bungee-regular {
  font-family: "Bungee", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.Bakemono {
  font-family: "Bakemono", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  background: rgb(var(--color-dark-rgb));
  background-image: url("../images/bg_3.jpg");
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}

.gradient {
  background: linear-gradient(135deg, rgb(var(--color-purplesemidark-rgb)) 0%, rgb(var(--color-dark-rgb)) 36%, rgb(var(--color-primary-rgb)) 56%, rgb(var(--color-purpledark-rgb)) 100%);
  background-repeat: no-repeat;
}

.reverse {
  flex-direction: row-reverse;
}

.klaro {
  background-color: #f0f0f0;
  color: #333;
}
.klaro .cookie-modal {
  border-radius: 8px;
  padding: 20px;
}
.klaro .cookie-modal button {
  background-color: #007acc;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}
.klaro .cookie-modal button:hover {
  background-color: rgb(var(--color-purplelight-rgb)) !important;
  color: rgb(var(--color-purpledark-rgb)) !important;
}
.klaro .cookie-modal .cm-modal.cm-klaro {
  background: rgb(var(--color-purplesemidark-rgb));
}
.klaro .cookie-modal a {
  color: rgb(var(--color-purplelight-rgb)) !important;
}
.klaro .cookie-modal .cm-list-input:checked + .cm-list-label .slider {
  background: rgb(var(--color-purplelight-rgb)) !important;
}
.klaro .cookie-modal .cm-btn.cm-btn-info {
  background: rgb(var(--color-purplelight-rgb)) !important;
  color: rgb(var(--color-purpledark-rgb)) !important;
}
.klaro .cookie-modal .cm-modal .cm-footer .cm-powered-by {
  display: none;
}
.klaro .cookie-notice:not(.cookie-modal-notice) {
  background: rgb(var(--color-primary-rgb));
}
.klaro .cookie-notice a {
  color: rgb(var(--color-purplelight-rgb)) !important;
}
.klaro .cookie-notice .cm-btn.cm-btn-success {
  background: rgb(var(--color-purplelight-rgb)) !important;
  color: rgb(var(--color-purpledark-rgb)) !important;
}

.slash:first-child:after {
  width: 100px;
  left: 310px;
  top: 110px;
}
.slash:first-child .copy {
  margin-left: -150px;
}
.slash:last-child:after {
  width: 100px;
  left: 650px;
  top: 30px;
}
.slash:last-child .copy {
  margin-left: 150px;
}
.slash:nth-child(2) {
  text-align: center;
}
.slash:nth-child(2) .arrow {
  display: flex;
  position: absolute;
  right: -12px;
  top: -16px;
  font-size: 4rem;
  color: rgb(var(--color-purplelight-rgb));
  z-index: 40;
}
.slash:nth-child(3) .title {
  justify-content: center;
}
.slash:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  width: 200px;
  height: 2px;
  background-color: rgb(var(--color-purplesemilight-rgb));
  transform: rotate(45deg) rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}

.slash:before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 100%;
  background-color: rgb(var(--color-purplesemilight-rgb));
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}

.flex-row:not(:last-child) .title::after {
  background-color: #999;
}

.pos_0:after {
  left: 220px;
}

.pos_0:before {
  left: 310px;
}

.pos_1:after {
  left: 360px;
}

.pos_1:before {
  left: 450px;
}

.pos_2:after {
  left: 500px;
}

.pos_2:before {
  left: 590px;
}

.pos_3:after {
  left: 640px;
}

.pos_3:before {
  left: 730px;
}/*# sourceMappingURL=global.css.map */